<!DOCTYPE html>
<html>

<head>
  <title>Support Ticket System</title>
</head>

<body>
  <header>
    <h1>Support Ticket System</h1>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>
