{% extends 'tickets/base_generic.html' %}

{% block content %}
<h2>New Ticket</h2>
<form method="POST" class="post-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Submit</button>
</form>
{% endblock %}
