{% extends 'tickets/base_generic.html' %}

{% block content %}
  <div>
    <h1>Ticket #{{ ticket.id }}</h1>
    <p>Description: {{ ticket.description }}</p>
    <p>Status: {{ ticket.status }}</p>
    <p>Created at: {{ ticket.created_at }}</p>
    <p>Client: {{ ticket.client.username }}</p>
    <p>Staff: {{ ticket.staff.username if ticket.staff else 'Unassigned' }}</p>
  </div>
{% endblock content %}