{% extends 'tickets/base_generic.html' %}

{% block content %}
{% for ticket in tickets %}
<div>
  <h2><a href="{% url 'tickets:ticket_detail' ticket.id %}">Ticket #{{ ticket.id }}</a></h2>
  <p>Description: {{ ticket.description }}</p>
  <p>Status: {{ ticket.status }}</p>
  <p>Created at: {{ ticket.created_at }}</p>
</div>
{% endfor %}
{% endblock content %}