{% extends 'tickets/base_generic.html' %}

{% block content %}
<h2>Assign Ticket #{{ ticket.id }}</h2>
<form method="POST" class="post-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Assign</button>
</form>
{% endblock %}
